#studios {
  padding-top: 220px;
}
.studios_text {
  width: 949px;
  margin: auto;
  text-align: center;
}
.head_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
.studious_img{
    width: 100%;
    height: 477px;
    margin-top: 32px;
}
.studious_img img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.blog_card{
    margin-top: 30px;
}
/* =======================  responsive ======================== */
@media (max-width:575.99px) {
  

#studios {
  padding-top: 101px;
}
.studios_text {
  width: 340px;
}
.head_text {
  font-size: 23px;
  line-height: 28px;
}
.studious_img {
  height: 225px;
  margin-bottom: 25px;
}
.blog_card .card {

  background-color: #eee;
}
}